/* Contenido de una actividad */
.activity_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 80%;
    background-color: #ffffff; 
    border-radius: 15px;
    border: 5px solid #fd5e53;
    grid-area: activities;
    padding: 10px;
    padding-right: 25px;
    background-color:rgba(255, 255, 255, 0.65);
}

.activity_desc {
    font-size: 32px;
    text-align: center;
    padding: 15px;
}

li {
    font-size: 15px;
    text-align: left;
}

section {
    font-size: 15px;
    text-align: left;
}


/* Galería */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  aspect-ratio: 1/1;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


i {
    color: black;
}

/* Iconos abajo */

.iconos {
    grid-gap: 15px;
    margin: 0 auto;
    gap: 15px;
    display: flex;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 300px;
    position: fixed;
    left: -300px;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color:rgba(255, 255, 255, 0.811);
    overflow-x: scroll; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
      
  /* Position and style the close button (top right corner) */
.new_comment_form .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.comment {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 5px solid #fd5e53;
    padding: 10px;
    gap: 7px;
    margin: 10px;
    word-wrap: break-word;
}

.commentary {
    border-radius: 15px;
    border: 5px solid #fd5e53;
    padding: 10px;
    word-wrap: break-word;
    font-size: 90%;
}

.user_name {
    text-align: left;
    color: #2200b9;
    font-size: 80%;
}

.date {
    text-align: right;
    font-size: 50%;
}

.comment_button {
    background-color: #710675;
    border-radius: 15px;
    color: white;
    width: 70px;
    height: 40px;
    cursor: pointer;
}

.comment_us {
    background-color: #710675;
    border-radius: 15px;
    color: white;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin: 10px;    
}

.new_comment_form {
    height: 50%;
    width: 300px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -300px;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color:rgba(255, 255, 255, 0.811);
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

